@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto&display=swap');
/*
font-family: 'Poppins', sans-serif;
font-family: 'roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    --cor0: #d8dbe3;
    /* Background */
    --cor1: #c0c5d6;
    /* Background */
    --cor2: #191d32;
    --cor3: #282F44;
    --cor4: #567A5C;
    --cor5: #39564D;
    
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

header {
    user-select: none;
    background: rgba(216, 219, 227, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9rem 1rem 9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.bg {
    background-color: var(--cor0);
    min-height: 100vh;
}

img {
    width: 14rem;
}

ul {
    display: flex;
    gap: 1.7rem;
}

li {
    list-style: none;
}

header a {
    color: var(--cor2);
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--cor2);
  }
  
.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: var(--cor2);
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}

.corpo{
    display: flex;
    justify-content: center;
}

.container_video {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

video {
    width: 45rem;
}