@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto&display=swap');
/*
font-family: 'Poppins', sans-serif;
font-family: 'roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --cor0: #d8dbe3;
    --cor1: #c0c5d6;
    --cor2: #191d32;
    --cor3: #282F44;
    --cor4: #567A5C;
    --cor5: #39564D;
    
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.mb-5{
    margin-bottom: 5px;
}
.mr-5{
    margin-right: 5px;
}
.ml-5{
    margin-left: 5px;
}

/*OBS: o text-field está no styles.css mesmo... só pq eu pensei que fosse melhor :P*/
