@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto&display=swap');
/*
font-family: 'Poppins', sans-serif;
font-family: 'roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --cor0: #d8dbe3;
    --cor1: #c0c5d6;
    --cor2: #191d32;
    --cor3: #282F44;
    --cor4: #567A5C;
    --cor5: #39564D;
    
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.mb-5{
    margin-bottom: 5px;
}
.mr-5{
    margin-right: 5px;
}
.ml-5{
    margin-left: 5px;
}

.default-button{
    margin: 10px;
    width: 15rem;
    font-size: 16px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s;
}

.primary-button{
    background-color: var(--cor3);
    color: var(--cor0);
    outline: none;
    border: var(--cor3) solid 1px;
}
.primary-button:hover{
    background-color: var(--cor0);
    color: var(--cor3);
}

.secundary-button{
    background-color: var(--cor0);
    color: var(--cor3);
    outline: none;
    border: var(--cor3) solid 1px;
    
}
.secundary-button:hover{
    background-color: var(--cor1);
    color: var(--cor2);
    border: var(--cor1) solid 1px;
}

.warning{
    color: #ff0404e9;
}


/*IDs ERRORs XD*/
#questiontitle-error, #textarea-error, #subject-error, #level-error, #optionA-error, #optionB-error, #optionC-error, #optionD-error, #optionE-error, #correctoption-error{
    display: none;
}