textarea{
    resize: none;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track{
    background: var(--cor1);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--cor3);
    border-radius: 1px;
}



/*---------------------</> Header </>---------------------*/
header {
    user-select: none;
    background: rgba(216, 219, 227, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9rem 1rem 9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
header ul {
    display: flex;
    gap: 1.7rem;
    align-items: center;
}
header a {
    color: var(--cor2);
}

.logo {
    width: 12rem;
}

.container_one {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--cor2);
}
  
.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: var(--cor2);
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}

#singUp{
    color: var(--cor0);
    background-color: var(--cor3);
    padding: 5px 8px;
    border-radius: 8px;
    border: solid var(--cor0) 1px;
    transition: all .2s;
}
#singUp:hover{
    color: var(--cor3);
    background-color: var(--cor0);
    transform: scale(1.07);
    border-color: var(--cor3);
}


/*---------------------</> Body </>---------------------*/
.bg{
    display: flexbox;
    background-color: var(--cor0);
    min-height: 100vh;
}



/*===================================< Body-Divs >===================================*/


/*---------------------</> Description-div </>---------------------*/
.description{
    text-align: center;
    padding: 4rem 0rem 8rem;
    height: 15vh;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}



/*---------------------</> Question-div </>---------------------*/
.question{
    height: fit-content;
    display: flex;
    font-family: 'roboto', sans-serif;
}

.question-box1{
    display: flexbox;
    text-align: center;

    width: 70%;
    padding: 2rem;

    border-radius: 0px 16px 16px 0px;
    margin-right: 3%;
}

.question-box2{
    display: flexbox;
    text-align: center;
    width: 27%;
    padding: 2rem;
    
    border-radius: 16px 0px 0px 16px;
}

.question-box1, .question-box2{
    background: var(--cor0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
}

.question textarea{
    width: 425px;
    height: 200px;
    padding: 5px;
    border-style: none;
    outline: none;
    margin: 10px;
    border-radius: 3px;
    margin: auto;
    border: var(--cor2) solid 1px;
}
.question textarea:focus{
    border: var(--cor4) solid 1px;
}

.form{
    margin: auto;
    margin-top: 3rem;
    height: 100%;
}

/*-----------</> Question-div-inputs </>-----------*/
.field{
    margin-top: 1rem;
}
.text-field {

    width: 425px;
    margin-top: 2rem;
    font-size: 16px;

    padding: 5px;
    padding-bottom: 1px;
    padding-left: 1px;

    background-color: var(--cor0);
    color: var(--cor2);
    border-style: none;

    border-color: var(--cor0);
    border-bottom: 1px solid var(--cor2);
    outline: none;

    transition: all .2s;
}
.text-field:hover{
    padding-left: 3px;
    padding-right: 3px;
}
.text-field:focus{
    padding-left: 5px;
    padding-right: 0px;
}






/*---------------------</> Partners-div </>---------------------*/
.partners{
    height: 40vh;
    
    padding: 2rem;
}



/*---------------------</> Footer-Div </>---------------------*/
.footer{
    height: 25vh;
    background-color: var(--cor2);
}